// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

//Colors
$primary: #000000; // Thats a sample how you could change a BootStrap variable.
$white: #FFFFFF;
$deep-cerise: #E72276;
$black-russian: #26272B;
$ship-grey: #575756;
$downy: #65c2c4;
$limade: #58A826;
$saffron:#FDC32C;

//Fonts
$raleway : 'Raleway', sans-serif ;
$fleur : 'FleurBold', sans-serif  ;

// Breakpoints (reflection of bootstrap)
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

//Font Weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;