// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


.container-1600 {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
	display: flex;
}

.title-menu {

	font-family: $fleur;
	text-transform: none;

}

.emri {

	font-family: $fleur;
	font-size: 30px;
}

.emri2 {
	font-size: 30pt;
	font-family: $fleur;
}

body {
	font-family: $raleway;
	background-image: url('../assets/images/pattern.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {

	font-weight: $font-weight-light;
}

.container-fluid {
	overflow: hidden;
}

section {
	margin: 0 -15px;
	min-height: 100vh;
	position: relative;
}

.overlay-black {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
	display: flex;
	justify-content: center;
	align-items: center;

	&.overlay-visible {
		display: block;
	}
}

.opacity-20 {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.button,
.buttons {
	margin-top: 4em;
	margin-bottom: 2em;

	.cta-button {
		color: $white;
		text-transform: uppercase;
		padding: 7.5px 15px;
		border: 1.5px solid $white;
		transition: all .3s ease;
		letter-spacing: 1px;
		text-decoration: none;
		font-weight: $font-weight-regular;


		&:hover {
			background-color: $deep-cerise;
			border-color: $deep-cerise;
		}
	}

	.cta-black {
		margin: 0;
		color: $primary;
		border-color: $primary;
	}

	.button {
		margin: 0;
	}

	.cta-blog {

		color: $white!important;
		background-color: $deep-cerise;

		&:hover {
			color: $primary!important;
			background-color: $white;
		}
	}

}

.span-option {
	width: 14px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	position: relative;
	top: -5px;
	left: 5px;
	width: auto;


	&.option-social {
		background-color: $deep-cerise;
		color: $white;
	}

	&.option-month {
		background-color: $downy;
		color: $white;
	}

	&.option-vegan {
		background-color: $limade;
		color: $white;
	}


}


.product-title {
	display: flex;

	.span-option {
		padding: 0 5px;


		&.option-social {
			background-color: $deep-cerise;
		}

		&.option-month {
			background-color: $downy;
		}

		&.option-vegan {
			background-color: $limade;
		}
	}


}
