.title {
	font-family: $raleway;
	font-size: 60pt;
	text-transform: uppercase;



	&.white {
		color: $white;
	}

	&.title-different {
		font-family: $raleway;
	}

	&.deep-cerise {
		color: $deep-cerise;
		font-size: 60pt;

		@include media-breakpoint-down (md) {
			font-size: 45pt;
		}
	}

	.m-m {

		font-size: 30pt;

	}
}

.sub-title {
	&.white {
		color: $white;
	}

	&.deep-cerise {
		color: $deep-cerise;
		text-transform: uppercase;
		letter-spacing: 5px;
		margin-bottom: 2em;
	}
}
