.error-404 {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	h1 {
		font-size: 20rem;
		color: $deep-cerise;

		@include media-breakpoint-down (md) {
			font-size: 4rem;
		}
	}

	h3 {
		color: $primary;
		font-weight: 600;
	}

	p {
		color: $primary;
	}

	.bg-different {
		background-color: $white;
		padding: 1em 10em;
		box-shadow: 0 0 5px 2.5px rgba($primary, 0.25);

	}

	.buttons {
		margin: 4em;
		display: flex;
		align-items: center;
		justify-content: center;

		.cta-black {
			margin: 0 1em;

			&:hover {
				color: $white;
			}
		}
	}
}
