	#special-button {
		background-color: $white;
		min-height: 12vh;


		.button-row {

			margin-bottom: -10vh;
		}

		@include media-breakpoint-down (md) {
			margin-bottom: -5vh;
		}

	}
	#new-button{
		
		background-color: $white;
		min-height: 2vh;


		.button-row {

			margin-bottom: -10vh;
		}

		@include media-breakpoint-down (md) {
			margin-bottom: -5vh;
		}
		.data{
			.button{
				.cta-button{
					background-color:$downy;
					&:hover {
						background-color: $primary;
						border: none;
					}
				}
			}
		}

	}

	.section-about-us {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: $font-weight-light;
		min-height: 100vh;


		.title {
			color:$deep-cerise;
			font-size:40pt;
		}

		.data {
			max-width: 650px;
			margin: 0 auto;
			position: relative;
			font-weight: $font-weight-semi-bold;

			h1 {

				@include media-breakpoint-down (md) {
					font-size: 25pt;
				}

				@include media-breakpoint-down (sm) {
					font-size: 20pt;
				}
			}

			@include media-breakpoint-down (md) {
				padding: 0 .5em;
			}

			p {
				font-size: 1.2rem;
				line-height: 2;


				@include media-breakpoint-down (md) {
					font-size: .8rem;
					line-height: 2;
				}
			}

			.button {
				margin-bottom: 5em;

				.cta-button {
					//border: 1.5px solid black;
					border: none;
					background-color: #e72276;
					padding: 7.5px 15px;
					text-transform: uppercase;
					letter-spacing: 1px;
					text-decoration: none;
					font-weight: 400;
					transition: all .3s ease;
					color: $white;
					font-size: .85em;

					&:hover {
						background-color: $primary;
						border: none;
					}
				}

				@include media-breakpoint-down (md) {

					padding-bottom: 5vh;
					padding-top: 2vh;
				}
			}
		}
	}
	.valentines{
		min-height: 30vh;
		background-color: $white;
		padding: 20px;

		.menu-price{
			font-size:.5em;
			color:$primary;
			text-transform: none;
		}
		.name-menu{
		font-size: 20pt;
		color:$deep-cerise;
		font-weight:$font-weight-thin;

		@include media-breakpoint-down(lg)
		{
			font-size: 15pt;
		}
	}

	.title{
		font-size: 30pt;
		font-weight: $font-weight-semi-bold;
			@include media-breakpoint-down(lg)
		{
			font-size: 20pt;
		}
	}
	}
