.section-booking-form {
	padding: 4em 0;
	background: $black-russian;
	position: relative;

	&:before {
		content: '';
		background-image: url('../assets/images/pattern.svg');
		background-size: cover;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.02;
		z-index: 0;
	}

	.cancel-reservation {
		display: none !important;
	}

	#redi-reservation {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		>div {
			flex: 0 100%;
		}

		#step1 {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;

			.rowLeft {
				width: 100%;
				text-align: center;
				color: $white;
			}

			label {
				color: $white;
				margin: 0;
				font-weight: $font-weight-bold;
				margin-left: 1em;
				margin-right: 10px;

				@include media-breakpoint-down (md) {
					width: 100px;
				}
			}

			input,
			select {
				margin: 0;
			}
		}

		#step2 {
			.buttons-wrapper {
				margin: 2em auto;
				max-width: 800px;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;


				button {
					color: $white;
					background-color: $ship-grey;
					font-weight: $font-weight-bold;
					margin: 2px;
					border: none;
					padding-top: 5px;
					padding-bottom: 5px;

				}

				button[select="select"] {
					background: $deep-cerise !important;
				}

				br {
					display: none;
				}
			}
		}

		#step3 {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			max-width: 800px;
			margin: 0 auto;
			flex-wrap: wrap;

			div {
				max-width: 600px;
				width: 100%;

				input {
					width: 100%;
				}
			}

			label {
				color: $white;
			}

			h2 {
				color: $white;
				width: 100%;
				text-align: center;
			}

			textarea {
				width: 100%;
				max-width: 100%;
			}

			input,
			textarea {}

			.redi-restaurant-button {
				background-color: $deep-cerise;
				padding-top: 10px;
				padding-bottom: 10px;
				color: $white;
				border: none;
			}
		}
	}
}
