.section-buttons {
   min-height: 20vh;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   background-color: $white;


   .buttons {

       display: flex;
       align-items: center;
       justify-content: center;

       .cta-buttons {
           color: $white;
           text-transform: uppercase;
           padding: 7.5px 15px;
           border: 1.5px solid $white;
           transition: all .3s ease;
           letter-spacing: 1px;
           text-decoration: none;
           font-weight: $font-weight-regular;

           &:hover {
               background-color: $primary;
               color: $white;
           }

       }

       .cta-fest {
           background-color: $downy;

       }

       .cta-month {
           background-color: $deep-cerise;

       }

       .cta-morning {
           background-color: $saffron;
       }
      
   }
}
