.section-contact {
	padding: 2em 0;
	background: $white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	.data {
		text-align: center;
		margin-bottom: 2em;

		.title {
			font-size: 7vh;
			font-weight: $font-weight-thin;

			@include media-breakpoint-down(md) {
				font-size: 3rem;
			}
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1rem;
			font-weight: $font-weight-bold;
			margin: 0;
			text-decoration: none;
			transition: all .3s ease;

			&:focus,
			&:hover,
			&:active {
				color: $deep-cerise;

			}

			p {
				font-size: 1rem;
				margin: 0;
				color: $deep-cerise;
				margin-right: 5px;
			}
		}
	}

	.form-data {
		width: 100%;

		.wpcf7 {
			max-width: 1600px !important;

			.contact-form {
				width: 100%;

				.top-row {
					padding: 1em;
					margin-bottom: .75em;

					@include media-breakpoint-down(md) {
						margin-bottom: 0;

						.wpcf7-text {
							margin-bottom: 15px;
						}
					}


				}

				input,
				textarea {
					border-radius: 0;
					margin: 0;

					&:focus,
					&:hover,
					&:active {
						outline: none;
						box-shadow: none;
					}
				}

				input[type="submit"] {
					max-width: 250px;
					margin: 0 auto;
					color: $white;
					background: $black-russian;
					border: 1px solid $black-russian;
					text-transform: uppercase;

					&:focus,
					&:hover,
					&:active {
						color: $white;
						background: $deep-cerise;
						border-color: $deep-cerise;

					}

				}
			}
		}
	}

}
