.full-drinks-section {
	background-color: $white;

}
.full-menu-section {
	background-color: $white;

}

hr {

	border: 1px solid $ship-grey;
	margin-bottom: 2rem;
	margin-top: -1rem;
}

.section-drink-items {
	background:$white;
	min-height: auto;
	margin: 2em 0;

	.description {
		display: flex;
		align-items: center;
		flex-grow: 1;
		justify-content: space-between;
		padding: .5em 0;


		.main-data {
			min-height: 110px;
			display: flex;
			flex-direction: column;
			justify-content: center;


			.title {
				margin-bottom: .7rem;
				font-weight: $font-weight-bold;

			}


		}

		.price {
			font-size: 2.75rem;
			font-weight: $font-weight-thin;
			display: flex;
			padding-left: 10px;
			color: $deep-cerise;

			&:after {
				content: 'lek';
				display: inline-flex;
				position: relative;
				align-items: center;
				font-size: 1.25rem;
				align-self: flex-start;
				top: .35em;
			}
		}

	}
	.menu-desc{
		font-size: .5em;
		color:$deep-cerise;
	}


	.list-items {
		padding: 0;
		margin: 0;
		margin-bottom: 2em;
		list-style: none;
		font-size: 2rem;

		li {
			margin-bottom: 10px;
			margin-left: 2.5px;
			display: flex;
			font-size: 1rem;

			p {
				margin: 0;
				width: 100%;
				position: relative;
				z-index: 1;
				display: flex;
				border-bottom: 1px dotted $ship-grey;

				.price-special{

					color: $deep-cerise!important;

				}


				span {
					z-index: 5;
					padding-right: 5px;
				}

				&:before {
					/*content: '';
					position: absolute;
					bottom: .4em;
					width: 95%;
					height: 0;
					line-height: 0;
					border-bottom: 1px dotted $deep-cerise;
					//z-index: -1;
					right: .25em;
					/*display: flex;
					align-items: center;
					justify-content: center;
					padding-left: 60px;*/
				}
			}
		}
	}
}
