.section-food-items {

	min-height: auto;
	margin: 2em auto;
	background-color: $white;

	.description {
		display: flex;
		align-items: center;
		flex-grow: 1;
		justify-content: space-between;
		padding: .5em 0;


		.main-data {
			min-height: 110px;
			display: flex;
			flex-direction: column;
			justify-content: center;

		}

		.title {
			margin-bottom: .6rem;
			font-weight: $font-weight-bold;


		}

		hr {

			border: 1px solid $ship-grey;
			margin-bottom: 2rem;
			margin-top: -1rem;
		}



	}


	.food-items {
		padding: 0;
		margin: 0;
		margin-bottom: 2em;
		list-style: none;
		font-size: 2rem;


		.price {
			font-size: 2.25rem !important;
			font-weight: $font-weight-thin;
			display: flex;
			padding-left: 10px;
			color: $deep-cerise;

			@include media-breakpoint-down(lg) {

				font-size: 1rem!important;
			}


			&:after {
				content: 'lek';
				display: inline-flex;
				position: relative;
				align-items: center;
				font-size: 1rem !important;
				align-self: flex-start;
				top: .35em;

				@include media-breakpoint-down(lg) {

					font-size: .5rem!important;
				}


			}
		}

		.ml {
			
			font-weight: $font-weight-semi-bold;
			text-align: center;

			@include media-breakpoint-down(lg) {

				font-size: .6rem;
			}

		}

		li {
			margin-bottom: 10px;
			margin-left: 2.5px;
			display: flex;
			font-size: 1rem;

			@include media-breakpoint-down(lg) {

				font-size: .8rem;
			}

			.small {
				@include media-breakpoint-down(lg) {

					display: block;

				}
			}


			p {
				margin: 0;
				width: 100%;
				position: relative;
				z-index: 1;
				display: flex;
				border-bottom: 1px dotted $ship-grey;


				span {
					z-index: 5;
					padding-right: 5px;

				}



				&:before {
					/*content: '';
					position: absolute;
					bottom: .4em;
					width: 95%;
					height: 0;
					line-height: 0;
					border-bottom: 1px dotted $deep-cerise;
					//z-index: -1;
					right: .25em;
					/*display: flex;
					align-items: center;
					justify-content: center;
					padding-left: 60px;*/
				}
			}
		}
	}
}
