#wrapper-footer {
	background: $black;
	overflow: hidden;
}

.footer-1600 {
	flex-direction: column;

	.top-footer {
		padding-top: 2em;
		color: $white;
		text-align: center;

		.logo {
			img {
				max-width: 250px;

				@include media-breakpoint-down (md) {
					max-width: 300px;
				}

			}
		}

		.address {
			margin-top: 2em;


			p {
				font-size: 14px;
				margin: 0;
				font-family: $raleway;
				color: $white;
			}

			&:hover {
				p {
					color: $deep-cerise;
				}
			}
		}

		.phone,
		.email {
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			margin-bottom: 1em;

			a {
				color: $deep-cerise;
				text-transform: uppercase;
				text-decoration: none;
				font-family: $raleway;
				display: flex;
				align-items: center;

				p {
					margin: 0;
					color: $white;
					margin-left: 10px;
					transition: all .3s ease;
					text-transform: lowercase;
					font-family: $raleway;

					&:hover {

						color: $deep-cerise;

					}


				}
			}
		}

		.email {
			margin: 1em 0 0;
		}

		.working-hours {

			.footer-title {
				font-family: $raleway;
				color: $deep-cerise;
				text-transform: uppercase;
			}

			p {
				font-family: $raleway;
				margin: 0;
				font-weight: $font-weight-bold;
				font-size: 14px;

				span {
					margin-right: 5px;
					color: darken($white, 25%);
					font-size: 1rem;
				}
			}
		}

		.social-links {
			margin: 2em 0;

			a {
				color: $white;
				transition: all .3s ease;

				i {
					font-size: 1.5rem;
					margin-right: 10px;
				}

				&:hover {
					color: $deep-cerise;
				}
			}
		}
	}

	.bottom-footer {
		padding: 0 1em;


		.new {
			color: $white;
		}

		.copyright {

			font-size: 13px;
		}

		&:before {
			content: '';
			height: 1px;
			width: 100%;
			margin: 0 auto;
			position: relative;
			background: darken($white, 50%);
			display: block;
			margin-bottom: 2em;
		}

		p {
			color: darken($white, 25%);

			@include media-breakpoint-down (xl) {
				text-align: center;
			}
		}

		ul {
			display: flex;
			list-style-type: none;
			padding: 0;
			margin: 0;
			justify-content: flex-end;

			@include media-breakpoint-down (md) {
				justify-content: center;
			}

			li {
				margin-right: 5%;
				flex: none;

				@include media-breakpoint-down (sm) {
					margin-right: 1%;
				}

				&.current_page_item {
					a {
						font-weight: $font-weight-bold;
					}
				}

				&.wpml-ls-current-language {

					a {
						color: $deep-cerise;
					}
				}

				a {
					color: darken($white, 25%);
					text-transform: uppercase;
					font-size: 12px;
					font-weight: $font-weight-light;
					text-decoration: none;
					transition: all .3s ease;
					padding: 0px;

					&:hover {
						color: $deep-cerise;
					}
				}
			}
		}
	}
}
