.section-gallery {

	.gallery-carousel {
		height: 100vh;


		.carousel-item {
			height: 100vh;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			text-align: center;

			h1 {
				transform: translateY(40vh)
			}

			img {

				display: none;

				@include media-breakpoint-up(md) {

					display: none;
				}
			}
		}
	}

	.navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		position: static;

		@include media-breakpoint-down (sm) {
			position: absolute;
			top: 50%;
			width: 92%;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			z-index: 5;

			&.carousel-control-prev {
				transform: rotate(90deg);
			}

			&.carousel-control-next {
				transform: rotate(-90deg);
			}

			span {
				position: absolute;
				left: 50%;
				width: 50px;
				height: 50px;
				margin-left: -12px;
				border-left: 1px solid #fff;
				border-bottom: 1px solid #fff;
				transform: rotate(-45deg);
				box-sizing: border-box;

				@include media-breakpoint-down (md) {
					height: 24px;
					width: 24px;

				}

			}
		}
	}

	.button {
		z-index: 999;
		position: absolute;
		bottom: 5em;
		left: 25%;
		right: 25%;
		margin: 0 auto;
		max-width: 163px;
		width: 100%;
			@include media-breakpoint-down (sm) {
					left: 30%;
				}

		.cta-button {
			border: 1.5px solid $white;
			padding: 7.5px 15px;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-decoration: none;
			font-weight: 400;
			transition: all .3s ease;
			color: $white;

			&:hover {
				color: $black;
				background-color: $white;
			}
		}
	}
}
