	#wrapper-navbar {
		display: none;

		.bg-primary {
			padding: 0;

			.navbar-brand {
				padding: 0;
			}

			.navbar-nav {
				li {
					a {
						text-transform: uppercase;
						font-family: $raleway;
						letter-spacing: 1px;
						font-size: .8rem;
						transition: all .3s ease;

					}

					&.current_page_item {
						a {
							font-weight: $font-weight-bold;
						}
					}

					&.wpml-ls-current-language {

						a {
							color: $deep-cerise;
						}
					}
				}
			}

			.navbar-toggler {
				position: absolute;
				right: 1em;
				top: 35%;
				outline: none;
			}

			@include media-breakpoint-down (md) {
				.navbar-collapse {
					position: absolute;
					background: $primary;
					z-index: 9999;
					top: 100%;
					width: 100%;
					padding: 1em;
					text-align: center;

					li {
						a {
							font-size: 1.25rem;
						}
					}
				}
			}
		}

		&.scrolled {
			display: block;
			width: 100%;
			position: fixed;
			animation: smoothScroll 1s forwards;
			z-index: 9999999999;
		}

		@keyframes smoothScroll {
			0% {
				transform: translateY(-40px);
			}

			100% {
				transform: translateY(0px);
			}
		}
	}
