.homepage-banner {
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	margin: 0 -15px;
	overflow: hidden;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;



	#video-background {
		position: relative;
		width: 100%;

		@include media-breakpoint-down (md) {
			width: auto;
			height: 100%;
			transform: rotateY(180deg);
		}

	}

	.data {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		position: relative;

		.logo {
			max-width: 350px;

			

		}

		h3 {
			font-weight: $font-weight-bold;
			letter-spacing: 10px;
			margin: 0;
		}
	}
}
