#menu-items {
	min-height: 65vh;

}

.section-legend {

	min-height: 20vh;
	background: $white;
	color: $primary;
	.row {
		margin: 0;



		@include media-breakpoint-down (md) {
			padding-left: 20px;
		}
	}

	.legend-item {
		display: flex;
		align-items: center;
		margin-left: -1em;
		margin-bottom: 10px;
		margin-top: 10px;

	}

	.symbol {

		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: none;

		@include media-breakpoint-down (md) {

			flex: none;
		}
	}

	.span-symbol {
		font-size: 1.5rem;
		color: $white;

	}

	.content {
		padding-left: .85em;
		width: 1300px;
		@include media-breakpoint-down (md) {
			max-width: 300px;
		}

	@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2){ max-width: 250px;}

																																												

	}

	.span-content {
		font-size: .85rem;

		justify-content: center;

		@include media-breakpoint-down (md) {
			font-size: .75rem;

		}

	}


}
