.main-banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	z-index: 99999;

	.data {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		align-content: center;
		padding: 2em;
		margin: auto;
		position: relative;
		font-size: 15pt;

		@include media-breakpoint-down (md) {
			width: 350px;
			display: flex;
		}


		.info-menu {

			margin-top: 15px;
			font-size: .95em;
			justify-content: center;
			align-items: center;
			width: 650px;

			@include media-breakpoint-down (md) {
				width: 350px;
			}

		}

		@include media-breakpoint-down (xs) {
			padding: 1em;
		}

		.title {
			margin: 55px;
			text-align: center;
			font-size: 3.5em;

			@include media-breakpoint-down (md) {
				font-size: 30pt
			}



		}

		.sub-title {
			max-width: 850px;
			text-align: center;
		}
	}



}
