.section-menu-items {
	padding-top: 5em;
	background: $white;



	.products-row {
		margin-top: 3em;
	}

	.menu {
		width: 50%;

		@include media-breakpoint-down (md) {
			width: 80%;
		}
	}

}

.price {
	font-size: 2rem;
	font-weight: $font-weight-thin;
	display: inline-flex;
	color: $deep-cerise;


	&:after {
		content: 'lek';
		display: inline-flex;
		position: relative;
		align-items: center;
		font-size: 1.25rem;
		align-self: flex-start;
		top: .35em;
	}
}

.text {
	font-size: 1.5rem;
}

.desc {
	font-size: 22px;
	text-align: center;

}

.tasting {

	font-size: .7em;
	color: $ship-grey;
	@include media-breakpoint-down (md) {
				font-size: .43em;

			}
}

.or {

	font-weight: bold;
	color: $deep-cerise;
	display: contents;
}

.single-product {
	display: flex;
	align-items: center;
	margin-bottom: 2em;
	min-width: 27.5vw;
	position: relative;
	justify-content: center;


	.menu-description {
		display: flex;
		align-items: center;
		flex-grow: 1;
		justify-content: space-between;
		padding: .5em 0;
		border-bottom: 1px solid rgba($ship-grey, 0.35);
		padding-left: 30vh;

		@include media-breakpoint-down (lg) {
			padding-left: 12vh;

		}

		@include media-breakpoint-down (md) {
			padding-left: 30vh;

		}

		.main-data {
			min-height: 110px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			@include media-breakpoint-down (md) {
				margin-left: -25vh;

			}

			@include media-breakpoint-down (s) {
				margin-left: -7vh;

			}


		}

		.title {
			display: flex;

		}
	}

	.title-different {
		font-size: 1rem;
	}

	.food-description {
		max-width: 480px;
		font-size: 14px;
		margin: 0;
	}
}
