.fancybox-hidden {

	display: none;
}

.form-data {
	width: 100%;

	.wpcf7 {
		max-width: 1600px !important;

		.contact-form {
			width: 100%;

			.top-row {
				padding: 1em;
				margin-bottom: .75em;

				@include media-breakpoint-down(md) {
					margin-bottom: 0;

					.wpcf7-text {
						margin-bottom: 15px;
					}
				}


			}

			input,
			textarea {
				border-radius: 0;
				margin: 0;

				&:focus,
				&:hover,
				&:active {
					outline: none;
					box-shadow: none;
				}
			}

			input[type="submit"] {
				max-width: 250px;
				margin: 0 auto;
				color: $white;
				background: $black-russian;
				border: 1px solid $black-russian;
				text-transform: uppercase;

				&:focus,
				&:hover,
				&:active {
					color: $white;
					background: $deep-cerise;
					border-color: $deep-cerise;

				}

			}
		}
	}
}
