.section-repeater {
	background-size: cover;
	background-repeat: no-repeat;

	&.repeater-home {
		h3 {
			color: $primary;
		}
	}

	h3 {
		color: $primary;
		font-weight: $font-weight-thin;
		font-size: 45pt;

		@include media-breakpoint-down (md) {
			margin-top: -25vh;
			font-size: 35pt;
		}
	}


	p {
		font-size: 15pt;
		color: $primary;
		font-weight: $font-weight-thin;
		margin-top: 2em;

		@include media-breakpoint-down (md) {
			font-size: 1em;
			margin-top: 4em;
		}


		.emri2 {
			font-size: 1.5em;
		}

	}

	.gallery-carousel {
		height: 100vh;

		.carousel-indicators li {
			background-color: $primary;
		}

		.carousel-inner {
			height: 100%;
			display: flex;
			align-items: center;
		}


		.carousel-item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			text-align: center;
			z-index: 5;

			.data {
				margin: 0 auto;
				max-width: 1140px;
				@include media-breakpoint-down (md) {
					max-width: 310px;
		}

			}

		}
	}

	.navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		position: static;

		@include media-breakpoint-down (sm) {
			position: absolute;
			top: 90%;
			width: 92%;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			z-index: 5;

			@include media-breakpoint-down (sm) {
				position: absolute;
				margin-top: 0;
			}


			&.carousel-control-prev {
				transform: rotate(90deg);
			}

			&.carousel-control-next {
				transform: rotate(-90deg);
			}

			span {
				position: absolute;
				left: 50%;
				width: 50px;
				height: 50px;
				margin-left: -12px;
				border-left: 1px solid $primary;
				border-bottom: 1px solid $primary;
				transform: rotate(-45deg);
				box-sizing: border-box;

				@include media-breakpoint-down (md) {
					height: 24px;
					width: 24px;

				}

			}
		}
	}
}

#menu-items {
	min-height: 100vh;


	h3 {
		font-weight: $font-weight-thin;
		font-size: 4em;

	}

	p {
		color: $white;
		font-size: 1em;
		font-weight: $font-weight-thin;

		@include media-breakpoint-up(lg) {

			font-size: 1.1em;
			letter-spacing: 1.2px;
		}


	}

	.gallery-carousel {
		height: 120vh;

		@include media-breakpoint-up (md) {
			//height: calc(8/9 * 100vh);
			height: 80vh;
		}

		overflow: hidden;

		.carousel-inner {
			height: 100%;
			display: flex;
			align-items: center;
		}



		.carousel-item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			text-align: center;

			.carousel-indicators li {
				background-color: none;
			}

			.data {
				margin: 0 auto;
				max-width: 1140px;
			}

			img {

				display: none;

				@include media-breakpoint-up(md) {

					display: none;
				}
			}
		}
	}


	.button {
		z-index: 999;
		position: absolute;
		bottom: 5em;
		left: 25%;
		right: 25%;
		margin: 0 auto;
		max-width: 158px;
		width: 100%;

		@include media-breakpoint-down (sm) {
			left: 30%;
		}

		.cta-button {
			border: 1.5px solid $white;
			padding: 7.5px 15px;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-decoration: none;
			font-weight: 400;
			transition: all .3s ease;
			color: $white;

			&:hover {
				color: $black;
				background-color: $white;
			}
		}
	}

	.legend-section {
		position: absolute;
		bottom: 5em;
		z-index: 10;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba($primary, 0.6);
		box-shadow: 0 0 5px 0 rgba($primary, 0.6);
		color: $white;
		height: 50px;

		.legend-item {
			display: flex;
			margin: 0 2em;
			align-items: center;

			.symbol {
				margin-right: .25em;
				padding: .25em .5em;
			}
		}

		@include media-breakpoint-down (md) {
			position: relative;
			flex-direction: column;
			background-color: rgba($primary, .85);
			height: 100%;
			bottom: 0;
			align-items: flex-start;
			padding: 1em 0;

			.legend-item {
				margin: 0 2em 1em;

				.symbol {
					margin-right: .5em;
				}
			}
		}
	}

	@media (min-device-width : 320px) and (max-device-width : 480px) {
		.scroll-down {
			position: absolute;
			left: 50%;
			bottom: 35vh;
			display: block;
			text-align: center;
			font-size: 20vh;
			z-index: 100;
			text-decoration: none;
			text-shadow: 0;
			width: 50px;
			height: 50px;
			border-bottom: 2px solid #fff;
			border-right: 2px solid #fff;
			z-index: 9;
			left: 45%;
			-webkit-transform: translate(-50%, 0%) rotate(45deg);
			-moz-transform: translate(-50%, 0%) rotate(45deg);
			transform: translate(-50%, 0%) rotate(45deg);
			-webkit-animation: fade_move_down 4s ease-in-out infinite;
			-moz-animation: fade_move_down 4s ease-in-out infinite;
			animation: fade_move_down 4s ease-in-out infinite;
		}

		@-webkit-keyframes fade_move_down {
			0% {
				-webkit-transform: translate(0, -10px) rotate(45deg);
				opacity: 0;
			}

			50% {
				opacity: 1;
			}

			100% {
				-webkit-transform: translate(0, 10px) rotate(45deg);
				opacity: 0;
			}
		}

		@-moz-keyframes fade_move_down {
			0% {
				-moz-transform: translate(0, -10px) rotate(45deg);
				opacity: 0;
			}

			50% {
				opacity: 1;
			}

			100% {
				-moz-transform: translate(0, 10px) rotate(45deg);
				opacity: 0;
			}
		}

		@keyframes fade_move_down {
			0% {
				transform: translate(0, -10px) rotate(45deg);
				opacity: 0;
			}

			50% {
				opacity: 1;
			}

			100% {
				transform: translate(0, 10px) rotate(45deg);
				opacity: 0;
			}
		}
	}

}
