.single-blog {
	min-height: 50vh;

	.site-main {
		background-color: white;
	}

	img.wp-post-image {
		display: none;
	}

	p {
		padding: 20px;
		line-height: 30px;

	}

	.entry-title {
		text-align: center;
		padding: 10px;
	}

	.nav-previous,
	.nav-next {
		padding: 10px;

		a {
			color: $deep-cerise;
		}
	}

	.wp-block-quote {}
}


.section-blog {
	min-height: 80vh;

	.blog {
		box-shadow: 0 0 2.5px 0 rgba($primary, 0.35);
		transition: all .3s ease;
		display: flex;
		margin-bottom: 2em;
		background-color: $white;
		justify-content: center;
		margin:60px;

		&:hover {
			box-shadow: 0 0 10px 0 rgba($primary, 0.35);
		}

		@include media-breakpoint-down (md) {
			flex-direction: column;
			max-width: 95%;
			margin: 0 auto 3em;
		}

		a {
			text-decoration: none;
			color: lighten($primary, 0.25);
		}

		.image {
			height: 100%;
			width: 200px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;

			@include media-breakpoint-down (md) {
				height: 200px;
				width: 100%;
			}
		}

		.content {
			@include media-breakpoint-up (md) {
				min-height: 300px;
			}

			padding:10px;
		}



		.section-title {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 1em 0 1em;
			flex-direction: column;
			width: 100%;
			text-align: center;

			h1 {
				font-size: 3rem;
				color: $primary;
				font-weight: bold;
				text-transform: capitalize;
			}

			h2 {
				font-size: 1rem;
				color: $primary;
				text-align: center;
				max-width: 1024px;
				padding: 0 15px;
			}
		}
	}
}
