.special-menu {
	background-repeat: no-repeat;
	background-size: cover;

	.full-drinks-section {
		background-color: transparent;
	}

	.section-drink-items {
		background-color: $white;

		.description {
			.main-data {
				min-height: 20px;
				.new-title{
						font-size: 1.2rem;
						font-weight: $font-weight-semi-bold;

				}
			}
		}

		.list-items {
			p {

				border-bottom: 1px dotted $deep-cerise;
				font-weight: $font-weight-semi-bold;


			}
		}

		.section-about-us {
			min-height: 40vh;
			margin-top: 10vh;

			@include media-breakpoint-down (sm) {
				min-height: 60vh;
			}

			.data {
				.title {
					font-size: 25pt;
					color: $ship-grey;
				}
			}

		}

		.new-data {
			color: $downy;
		}

		.special-data {
			color: $deep-cerise;
		}


		.data-text {
			font-size: 10pt;
			font-weight: $font-weight-medium;
		}
		.info-data{
			font-size:10pt;
		}
	}
}
