
.staff-section {
	background-color: $black-russian;
	z-index: 10;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	@include media-breakpoint-down (md) {
		padding: 2em 0;
	}

	&:before {
		content: '';
		background-image: url('../assets/images/pattern.svg');
		background-size: cover;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.02;
		z-index: 0;
	}
	.row{
		@include media-breakpoint-down (md) {
			display: block;
	}

	}

	.title {
		text-align: center;
		font-size: 4rem;
		margin-bottom: 1em;
	}

	.staff-row {
		padding-top: 2em;
	}

	.single-staff {
		@include media-breakpoint-down (md) {
			margin-bottom: 2em;
		}

		.image {
			text-align: center;
			margin-bottom: 1em;

			img {
				max-width: 200px;
				max-height: 200px;
				width: 100%;
				height: auto;
				padding: 7.5px;
				border-radius: 50%;
				border: 1px solid rgba($white, 0.35);
			}
		}

		.data {
			text-align: center;
			color: $white;

			.name {
				margin: 0;
				font-weight: $font-weight-light;
				font-size: 1.5rem;
				letter-spacing: 1px;
			}

			.position {
				margin-bottom: .65em;
				opacity: 0.35;
				font-size: 1.25rem;
				letter-spacing: 1px;
			}

			.description {
				font-size: 0.8rem;

				@include media-breakpoint-down (md) {
					padding: 0 2em;
				}
			}
		}

	}
}

#staff-menu {
	min-height: 50vh;
}
