.section-testimonials {
	background-color: $black-russian;
	z-index: 10;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	&:before {
		content: '';
		background-image: url('../assets/images/pattern.svg');
		background-size: cover;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.02;
		z-index: 0;
	}

	.testimonials-row {
		display: block;
		width: 100%;

		.col-12 {
			padding: 0;
		}
	}

	.title {

		font-size: 45pt;

		@include media-breakpoint-down (md) {

			font-size: 35pt;


		}

	}

	.testimonials {
		background: black;
		padding: 5em 0;
		box-shadow: 0 0 10px 0 rgba(black, 0.35);

		.carousel-item {
			margin: 0 auto;

			.image-col {
				display: flex;
				align-items: center;
				justify-content: center;
				align-content: center;

				.image {

					img {
						border: 5px solid $white;
						max-height: 100px;
						float: right;
						border-radius: 50%;
					}

					max-width: 100px;
					max-height: 100px;
					overflow: hidden;
				}
			}

			.testimonial-arrow {
				display: none;
				// background: #000;
				// width: 25px;
				// height: 30px;
				// position: absolute;
				// top: 50%;
				// left: -9px;
				// border-top: 1px solid rgba($white, 0.5);
				// transition: all .3s ease;

				// &:before {
				// 	content: '';
				// 	display: block;
				// 	width: 1px;
				// 	height: 36.5px;
				// 	background: rgba($white, 0.5);
				// 	transform: translateX(12.5px) translateY(-4px) rotate(-37deg);
				// 	transition: all .3s ease;
				// }

				// @include media-breakpoint-down (md) {
				// 	display: none;
				// }
			}

			.description {
				color: rgba($white, 0.5);
				border: 1px solid rgba($white, 0.5);
				padding: 4em;
				max-width: 650px;
				border-radius: 25px;
				transition: all .3s ease;
				position: relative;
				margin: 0 auto;
				min-height: 350px;

				@include media-breakpoint-down (md) {
					padding: 15px;
					margin-top: 2em;
					font-size: 14px;
					border: none;
					text-align: center;
					margin-right:2.5em;	
				}

				@media ("width:768px") and ("height:1024px"){
					margin-right:4.5em;
				}

				&:hover {
					color: rgba($white, 1);
					border: 1px solid rgba($white, 1);

					@include media-breakpoint-down (md) {
						border: none;
					}

					~.testimonial-arrow {
						border-top: 1px solid rgba($white, 1);

						&:before {
							background: rgba($white, 1);
						}
					}


				}

				.bottom {
					margin-top: 2em;

					p {
						margin: 0;
					}
				}

				&:before {
					content: '';
					width: 100%;
					position: relative;
					height: 50px;
					background-image: url('../assets/images/dots.png');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: left;
					display: block;
					margin-bottom: 1em;

					@include media-breakpoint-down (md) {
						background-position: center;
					}

				}

				&:after {
					content: '';
					width: 100%;
					height: 50px;
					position: absolute;
					background-image: url('../assets/images/dots-reverse.png');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: right;
					display: block;
					bottom: 3em;
					right: 2em;

					@include media-breakpoint-down (md) {
						bottom: -3em;
						right: 0;
						background-position: center;
					}
				}

			}

			@include media-breakpoint-down (md) {
				padding-bottom: 3em;
			}
		}

		.navigation {
			display: flex;
			align-items: center;
			justify-content: center;
			position: static;



			a {
				display: flex;
				align-items: center;
				justify-content: center;
				align-content: center;

				&.carousel-control-prev {
					transform: rotate(90deg);
				}

				&.carousel-control-next {
					transform: rotate(-90deg);
				}

				span {
					position: absolute;
					left: 50%;
					width: 50px;
					height: 50px;
					margin-left: -12px;
					border-left: 1px solid #fff;
					border-bottom: 1px solid #fff;
					transform: rotate(-45deg);
					box-sizing: border-box;

					@include media-breakpoint-down (md) {
						height: 24px;
						width: 24px;

					}

				}
			}

		}

	}
}
